 body, html {
 	height: 100%;
 }

 body {
    background-image: url("../images/bg.jpg");

	height: 100%;
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Raleway', sans-serif;
}


 .navbar {
  min-height: 80px;
  background-color: #f1eff2;
}

.navbar a {
	font-size: 30px;
	font-weight: lighter;
}

.navbar .navbar-brand {
	padding: 0px;
	font-size: 35px;
	letter-spacing: 5px;
}

.navbar li {
	padding-right: 50px;
}

#search {
	height: 3.8rem;
}

#login-panel {
	opacity: 0.5;
}

#login-panel .card-body .card-title {
	letter-spacing: 50px;
}

.page-title {
	letter-spacing: 5px;
}

.table-data-big {
	letter-spacing: 30px;
	font-size: 25px;
}

.table-applicant-name {
	letter-spacing: 5px;
	font-size: 25px
}

.table thead {
	letter-spacing: 15px;
}

.modal-full {
    min-width: 100%;
	margin: 0;
}

.modal-full .modal-content {
	min-height: 100vh;

	background-image: url("../images/modal-bg.jpg");

	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.close {
	font-size: 500%;
	position: absolute;
	top: 0;
	left: 90%;
}



