 body, html {
	height: 100%;
}

body {
	background-image: url("../images/bg.jpg");

	height: 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	font-family: 'Raleway', sans-serif;
}


.navbar {
	min-height: 80px;
	background-color: #f1eff2;
}

.navbar a {
	font-size: 30px;
	font-weight: lighter;
}

.navbar .navbar-brand {
	padding: 0px;
	font-size: 35px;
	letter-spacing: 5px;
}

#login-panel {
	opacity: 0.5;
}

#login-panel .card-body .card-title {
	letter-spacing: 50px;
}

.page-title {
	letter-spacing: 5px;
}

.table-data-big {
	letter-spacing: 5px;
	font-size: 25px;
}

.table thead {
	letter-spacing: 15px;
}

.modal-full {
	min-width: 100%;
	margin: 0;
}

.modal-full .modal-content {
	min-height: 100vh;

	background-image: url("../images/modal-bg.jpg");

	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.close {
	font-size: 500%;
	position: absolute;
	top: 0;
	left: 90%;
}

.form-group label {
	font-size: 35px;
	letter-spacing: 5px;
}

.form-group input {
	height: 3.8rem;
	text-align: center;
	font-size: 2.5rem;
}

.form-group #targetlocation {
	height: 3.8rem;
}

.big-checkbox {
	width: 50px;
	height: 50px;
}

@media only screen and (max-width: 900px) {

	.close {
		font-size: 100%;
		position: absolute;
		top: 0;
		left: 90%;
	}

	.display-4 {
		font-size: 15px;
	}

	#search {
		font-size: 20px;
	}

	.table {
		font-size: 12px;
	}

	.table-data-big {
		letter-spacing: 1px;
		font-size: 12px;
	}

	.value-data-big {
		font-size: 12px;
	}

	.table thead {
		letter-spacing: 1px;
	}
}

@media only screen and (max-width: 400px) {

	.form-group label {
		font-size: 15px;
		letter-spacing: 1px;
	}

	.form-group input {
		height: 2.5rem;
		font-size: 1rem;
	}

	.form-group #targetlocation {
		height: 2.5rem;
	}

	.big-checkbox {
		width: 15px;
		height: 15px;
	}

	.table {
		font-size: 8px;
	}
	.table-data-big {
		letter-spacing: 0px;
		font-size: 8px;
	}

	.navbar a {
		font-size: 15px;
		font-weight: lighter;
	}

	.navbar .navbar-brand {
		padding: 0px;
		font-size: 25px;
		letter-spacing: 1px;
	}

}
